<!doctype html>
<html lang="pt-br">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    {% block title %}
    <title>home</title>
    {% endblock%}

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark  bg-dark flex-md-nowrap p-0 shadow navbar-expand-lg">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'testeHome' %}"><h1>Gestão Municipal</h1></a>
        <div class="w-100"></div>

        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" id="logout" href="{% url 'logout' %}">Sair</a>
                {% else %}
                <a class="nav-link" id="logout" href="{% url 'login' %}">Entrar</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" id="logout" href="{%url 'cadastros:cadastrar'%}">Cadastrar</a>
            </li>
            {% endif%}
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                {% if user.is_authenticated %}

                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">


                            <a class="nav">
                                <span></span>
                                <div style=" display: flex;" class="mt-2">
                                    <div>
                                        <img style="width:60px;" src="{% static 'profile.svg' %}">
                                    </div>
                                    <div>
                                        Olá,<br>{{ user.first_name }}! <span class="sr-only"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% if request.session.temVinculo %}
                        <li class="nav-item">
                            <a style="color: #212529" class="nav-link" href="{% url 'orgao:getLotacao' %}">
                                <span data-feather="log-out" style="color: #212529"></span>
                                {% if request.session.nomeVinculo %}
                                Vínculo: {{ request.session.nomeVinculo }}
                                {% else %}
                                Vínculo: Não selecionado
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a style="color: #212529" class="nav-link" href="{% url 'cadastros:atualizar' user.id %}">
                                <span data-feather="users" style="color: #212529"></span>
                                Atualizar Meus Dados
                            </a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #212529" class="nav-link" href="{% url 'password_change' %}">
                                <span data-feather="lock" style="color: #212529"></span>
                                Trocar minha senha
                            </a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #212529" class="nav-link" href="{% url 'cadastros:enderecosList'  %}">
                                <span data-feather="map" style="color: #212529"></span>
                                Meus Endereços
                            </a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #212529" class="nav-link" href="{% url 'cadastros:telefonesList'%}">
                                <span data-feather="phone" style="color: #212529"></span>
                                Meus Telefones
                            </a>
                        </li>

                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted bg-info p-2">
                        <span style="color: #212529;cursor:pointer;">Meus Chamados</span>
                        <a style="color: #212529" class="d-flex align-items-center text-muted"
                            href="{% url 'chamados:pesquisa' %}">
                            <span data-feather="plus-circle" style="color: #212529"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #212529"
                                href="{% url 'chamados:filtrar_chamados' user.id 1 %}">
                                <span data-feather="file-text" style="color: #212529"></span>
                                Abertos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #212529"
                                href="{% url 'chamados:filtrar_chamados' user.id 2 %}">
                                <span data-feather="file-text" style="color: #212529"></span>
                                Em Andamento
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #212529"
                                href="{% url 'chamados:filtrar_chamados' user.id 3 %}">
                                <span data-feather="file-text" style="color: #212529"></span>
                                Concluídos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #212529"
                                href="{% url 'chamados:listar_chamados' user.id %}">
                                <span data-feather="file-text" style="color: #212529"></span>
                                Todos Os Chamados
                            </a>
                        </li>

                        {% if request.session.nomeVinculo %}
                        <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted bg-info p-2">
                            <span style="color: #212529;cursor:pointer;">Chamados {{request.session.nomeVinculo}}
                            </span>
                            <a style="color: #212529" class="d-flex align-items-center text-muted"
                                href="{% url 'chamados:pesquisa' %}">
                                <span data-feather="list" style="color: #212529"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" style="color: #212529"
                                    href="{% url 'orgao:chamados' request.session.idVinculo 1 %}">
                                    <span data-feather="file-text" style="color: #212529"></span>
                                    Abertos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #212529"
                                    href="{% url 'orgao:chamados' request.session.idVinculo 2 %}">
                                    <span data-feather="file-text" style="color: #212529"></span>
                                    Em Andamento
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #212529"
                                    href="{% url 'orgao:chamados' request.session.idVinculo 3 %}">
                                    <span data-feather="file-text" style="color: #212529"></span>
                                    Concluídos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #212529"
                                    href="{% url 'orgao:chamados' request.session.idVinculo %}">
                                    <span data-feather="file-text" style="color: #212529"></span>
                                    Todos Os Chamados
                                </a>
                            </li>
                            {% endif %}


                            {% else %}

                            {% endif %}
                        </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block centro %}

                {% if user.is_authenticated %}
                <div id="carouselSite" class="carousel slide carousel-fade mt-1 " data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carouselSite" data-slide-to="0" active></li>
                        <li data-target="#carouselSite" data-slide-to="1"></li>
                        <li data-target="#carouselSite" data-slide-to="2"></li>
                    </ol>

                    <div>
                        <div class="carousel-inner">
                            <div class=" text-center carousel-item active  ">
                                <div style=" background: #212529; height: 190px;">
                                    <img src="{% static 'd.jpeg' %}" class="mt-2 img-fluid max-width: 100%">

                                    <div class="carousel-caption">

                                    </div>

                                </div>
                            </div>

                            <div class=" text-center carousel-item">
                                <div style="background: #212529; height: 190px;">
                                    <img src="{% static 'download.png' %}" class=" mt-2 img-fluid max-width: 100%">

                                    <div class="carousel-caption">

                                    </div>
                                </div>
                            </div>


                            <div class=" text-center carousel-item">
                                <div style="background: #212529;  height: 190px;">
                                    <img src="{% static 'python.png' %}" class="img-fluid max-width: 100%">

                                    <div class="carousel-caption">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </div>
                </div>
        </div>

        {% else%}
        <div id="carouselSite" class="carousel slide carousel-fade mt-1" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carouselSite" data-slide-to="0" active></li>
                <li data-target="#carouselSite" data-slide-to="1"></li>
                <li data-target="#carouselSite" data-slide-to="2"></li>
            </ol>

            <div>
                <div class="carousel-inner">
                    <div class=" text-center carousel-item active  ">
                        <div style=" background: #212529; height: 190px;">
                            <img src="{% static 'd.jpeg' %}"
                                alt="fundo azul com duas cobras na cor branca escrito django"
                                class="mt-2 img-fluid max-width: 100%">

                            <div class="carousel-caption">

                            </div>

                        </div>
                    </div>

                    <div class=" text-center carousel-item">
                        <div style="background: #212529; height: 190px;">
                            <img src="{% static 'download.png' %}" alt="django escrito na cor preta com o fundo branco"
                                class=" mt-2 img-fluid max-width: 100%">

                            <div class="carousel-caption">

                            </div>
                        </div>
                    </div>


                    <div class=" text-center carousel-item">
                        <div style="background: #212529;  height: 190px;">
                            <img src="{% static 'python.png' %}" alt="imagem relacionando o python com o django"
                                class="img-fluid max-width: 100%">

                            <div class="carousel-caption">

                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
    </div>

    {% endif %}
    {% endblock %}


    </main>
    </div>
    </div>

    <!---<footer class="site-footer" style=" position: fixed; width: 100%; height:50px; background: #343a40;">
        <p class="text-center text-light pt-2 ">© Todos os direitos reservados-2020 </p>
    </footer>-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>




</body>


</html>