{% extends 'admin/base_main.html' %}

{% block centro%}
<title>Abrir Chamado</title>
<div class="container mt-5">
    <div class="text-center mt-3">
        <h3>Abrir Chamado</h3>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input  class="btn btn-primary mt-2" type="submit" value="Próximo">
    </form>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $("#id_idPessoa").val({{ user.id }});
        document.getElementById("id_idPessoa").style.display = 'none';})
    </script>
</div>

{% endblock%}