{% extends 'admin/base_main.html' %}
{% block title %}
<title>Alterar Chamado</title>
{% endblock%}

{% block centro %}
<title>Editar Chamado</title>
<div class="container mt-5">
    <div class="container text-center">
        <h3>Alterar Chamado</h3>
    </div>
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary mt-2"  type="submit" value="Próximo">
    </form>
    {% else %}
    <h4 class="bg-danger text-white text-center">
            <p>Faça o Login, ou realize o cadastro!</p>
        </h4>
        {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $("#id_idPessoa").val({{ user.id }});
        document.getElementById("id_idPessoa").style.display = 'none';})
    </script>
</div>

{% endblock%}