{% extends 'admin/base_main.html' %}
{% block title %}
<title>Cadastrar Endereço</title>
{% endblock%}
{% block centro %}
<div class="mt-3 pt-3">
    <div>
        <h3 class="text-center"></h3>
    </div>
    {% if user.is_authenticated %}
    <form method="POST">
        {{ form.errors }} {{ form.non_field_errors }}
        <div class="col">
            {% csrf_token %}

            <div class="form-group">
                <label for="idRua">Ruas</label>
                <select class="form-control" id="idRua" name="idRua">
                    {% if editando %}
                    <option value="{{ruaSelecionada.idRua.id}}">{{ ruaSelecionada.idRua }}</option>
                    {% else %}
                    <option value="{{ruaSelecionada.pk}}">{{ ruaSelecionada }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="numero">Número</label>
                <input type="text" class="form-control" id="numero" name="numero"
                    placeholder="Digite o número do imóvel" value="{{ruaSelecionada.numero}}" />
            </div>
            <div class="form-group">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento"
                    placeholder="Digite o complemento do imóvel" value="{{ruaSelecionada.complemento}}" />
            </div>
            <div class="d-none">
                <label for="idPessoa">Cadastrador do Imóvel</label>
                <select class="form-control" id="idPessoa" name="idPessoa">
                    <option value="{{user.pk}}">{{ user }}</option>
                </select>
            </div>
            {% if editando %}
            <div class="form-group">
                <label for="pk">PK</label>
                <input type="text" class="form-control" id="pk" name="pk" placeholder="pk"
                    value="{{ruaSelecionada.pk}}" />
            </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary" value="Salvar">
    </form>
    {% else %}
    <div class="alert alert-danger">
        Faça o Login, ou Realize o Cadastro!
    </div>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}