<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestão Municipal</title>
</head>

<body>
    {% load static %}

    {% if user.is_authenticated %}
    {% if enderecos_list %}
    <table>
        <tr>
            <th>ID</th>
            <th>RUA</th>
            <th>NÚMERO</th>
            <th>BAIRRO</th>
        </tr>
        {% for endereco in enderecos_list %}
        <tr>
            <td><a href="{% url 'cadastros:endereco_atualizar' endereco.id %}"></a>{{endereco.id}}</td>
            <td>{{endereco.idRua.nome}}</td>
            <td>{{endereco.numero}}</td>
            <td>{{endereco.idRua.idBairro.nome}}</td>
        </tr>
        {% endfor %}
    </table>
    </ul>
    <a href="{% url 'cadastros:endereco' %}">Adicionar endereço</a>
    {% else %}
    <p>Nenhum endereço cadastrado para {{ user.first_name }}.</p>
    <a href="{% url 'cadastros:endereco' %}">Adicionar endereço</a>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'cadastros:cadastrar' %}">Cadastrar</a>
    {% endif %}
</body>

</html>