<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestão Municipal</title>
</head>

<body>
    {% load static %}

    {% if user.is_authenticated %}
    {% if enderecos_list %}
    <ul>
        {% for endereco in enderecos_list %}
        <li><a href="{% url 'cadastros:endereco_atualizar' endereco.id %}">{{ endereco.idRua.nome}},
                {{ endereco.numero}},
                {{ endereco.idRua.idBairro.nome}}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastros:endereco' %}">Adicionar endereço</a>
    {% else %}
    <p>Nenhum endereço cadastrado para {{ user.first_name }}.</p>
    <a href="{% url 'cadastros:endereco' %}">Adicionar endereço</a>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'cadastros:cadastrar' %}">Cadastrar</a>
    {% endif %}
</body>

</html>