{% extends 'admin/base_main.html' %}

{% block centro %}

{% block title %}
<title>Meus Endereços</title>
{% endblock%}
{% load static %}

{% if user.is_authenticated %}
{% if enderecos_list %}
<div>
    <div class="">
        <h3 class="text-center mt-3">Meus Endereços</h3>
    </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">RUA</th>
                <th scope="col">NÚMERO</th>
                <th scope="col">BAIRRO</th>
            </tr>
        </thead>
        {% for endereco in enderecos_list %}
        <tbody>
            <tr>
                <td><a href="{% url 'cadastros:endereco_atualizar' endereco.id %}"></a>{{endereco.id}}</td>
                <td>{{endereco.idRua.nome}}</td>
                <td>{{endereco.numero}}</td>
                <td>{{endereco.idRua.idBairro.nome}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <a class="btn btn-primary" href="{% url 'cadastros:endereco' %}" role="button">Adicionar Endereço</a>

    {% else %}
    <div class="text-center">
        <div class="alert alert-danger mt-5">
            Não há Endereços Cadastrados para {{ user.first_name }}!
        </div>
        </ul>
        <a class="btn btn-primary" href="{% url 'cadastros:manterEndereco' %}" role="button">Adicionar Endereço</a>
    </div>

    {% endif %}
    {% endif %}
</div>

{% endblock %}

</div>