{% extends "admin/base_main.html" %}
{% load i18n static %}

{% block title %}
{{ title }}
{% endblock %}
{% block content_title %}
<h1>{{ title }}</h1>
{% endblock %}

{% block centro %}

<div class="container" id="content-main">
    <div class="">
        <h3 class="text-center mt-3">Alterar senha</h3>
    </div>
    <form method="post">{% csrf_token %}
        <div class="center">
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Corrija os erros abaixo." %}{% else %}{% trans "Corrija os erros abaixo." %}{% endif %}
            </p>
            {% endif %}


            <fieldset class="">

                <div class="form-group align-right">
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }} <br>{{ form.old_password }}
                </div>

                <div class="form-group align-right">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }} <br>{{ form.new_password1 }}
                </div>

                <div class="form-group align-right">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }} <br>{{ form.new_password2 }}
                </div>

            </fieldset>

            <div class="">
                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary">
            </div>

        </div>
    </form>
</div>

{% endblock %}